.app {
    display: flex;
    align-content: stretch;
    height: 100%;
}

@media all and (max-width: 1000px){
    .app {
        display: initial;
        height: initial;
    }
}

.flag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    max-width: 600px;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 300px;
}

.subtitle > div {
    margin: 10px;
}

.subtitle > :last-child {
    text-align: right;
    font-size: 1.25rem;
}

@media all and (max-width: 500px){
    .title {
        flex-direction: column;
    }
}

canvas {
    box-sizing: content-box;
}

.options-container {
    flex-grow: 1;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 0 10px;
    color: var(--primary-color);
    overflow-y: auto;
}

.options-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 30px;
}

.options > div {
    margin: 40px 0;
}

.option-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

.option-content {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 10px;
}

.coats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.coats > img {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.coats > img.selected {
    background-color: var(--primary-color);
}

.prg-button.autism {
    --prg-button-background-color: var(--primary-color);
    --prg-button-text-color: var(--secondary-color);
}

.prg-button.autism.republican {
    --prg-button-background-color: #630b57;
}

.modification-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size-container {
    display: flex;
    align-items: center;

}

.modification {
    width: 150px;
    height: 100px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--primary-color);
    position: relative;
}

.modification::after {
    position: absolute;
    display: block;
    content: ' ';
    width: calc(100px * var(--size));
    height: calc(100px * var(--size));
    top: calc(100px * var(--modification-y) - (100px * var(--size) / 2));
    left: calc(100px * var(--modification-x) - (100px * var(--size) / 2));
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.position-container {
    display: flex;
}

.position-action {
    margin-bottom: 0;
}

.hide {
    visibility: hidden;
}

.download {
    font-size: 2.25rem
}

